/* add your CSS here */
body{
    font-family:sans-serif;
}

span{
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

.container{
    padding: 15px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 330px;
}

.card{
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 5px #D3D3D3;
    padding: 10px;
    align-self: center;
    font-size: 10pt;

}

.descriptionbox{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 292px;
    margin-top: 5px;
    padding: 3px;
}
